.cart__count{
    background-color: rgb(150, 168, 149);
    width: 100%;
    height: 40%;
    font-size: 15px;
    margin: 10px;
    color: wheat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carrito__count{
    height: 10px;
}

.carrito__text{
    color:rgb(65, 59, 138) ;
    font-weight: 500;
}